// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
    padding-top:0px;
}
.navbar-brand{
  font-style: italic;
  font-weight: bold;
}
.navbar{
    background-color:#337ab7 !important;
}
.dropdown > a {
    color:white !important;
    font-style: italic;
    font-weight: bold;
  }
.dropdown-toggle:hover{
    background-color: #2d6da3 !important;
    color:white !important;
    font-weight: bold;
  }
.dropdown-toggle:focus{
    background-color: #2d6da3 !important;
    color:white !important;
    font-weight: bold;
  }
 #laranav{
  color: white !important;
  font-style: italic;
  font-weight: bold;
 } 
